<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ghostiny_singledevice">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".ActivityChangeService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".single.CustomShowActivity"></activity>
        <activity android:name=".single.CustomCameraActivity" />
        <activity android:name=".legacy.ShowPictureActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".multi.MultiGameoverActivity" />
        <activity android:name=".single.SingleGameoverActivity" />
        <activity android:name=".single.GameContinueActivity" />
        <activity
            android:name=".single.GameActivity"
            android:launchMode="singleTask" />
        <activity android:name=".multi.MultiNumberActivity" />
        <activity android:name=".multi.MultiplayerActivity" />
        <activity android:name=".multi.MultiRoomJoinActivity" />
        <activity android:name=".single.SingleNumberActivity" />
        <activity android:name=".InstructionActivity" />
        <activity android:name=".multi.MultiRoomOthersActivity" />
        <activity android:name=".multi.MultiRoomOwnerActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".multi.MultiCustomCameraActivity"/>
        <activity android:name=".multi.MultiGameActivity"/>
        <activity android:name=".multi.MultiCustomShowActivity"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.ghostiny_singledevice.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".MusicServer"
            android:exported="true"
            android:process=":remote">

        </service>
    </application>


</manifest>